<%- include('./partials/header.ejs') %>
"Hello" <%= title %>


<ul>
<li> strong Books: <%=data.book_count %> </li>
<li> strong Copies: <%= data.book_instance_count %></li>
<li> strong Copies available:] !{data.book_instance_available_count}</li>
<li> strong Authors:] !{data.author_count}</li>
<li> strong Genres:] !{data.genre_count}</li>
</ul>
<%- include('./partials/footer.ejs') %>